<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common.html :: head}"> </head>
<body>
<!-- Responsive navbar-->
<nav th:replace="~{fragments/common.html :: nav}"> </nav>
<div class="container mt-4">
  <h3>Create Todo Item</h3>

  <form method="post" th:action="@{/createToDoItem}" th:object="${todoItem}">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" th:field="*{title}" required/>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" name="description" th:field="*{description}" rows="4"></textarea>
    </div>

    <div class="form-group">
      <label for="dueDate">Due Date:</label>
      <input type="date" class="form-control" id="dueDate" name="dueDate" th:field="*{dueDate}" required/>
    </div>

    <div class="form-group">
      <label for="labels">Labels:</label>
      <input type="text" class="form-control" id="labels" th:field="*{labels}" required>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="completed" name="completed" th:field="*{completed}"/>
      <label class="form-check-label" for="completed">Completed</label>
    </div>

    <!-- Add button with icon for "Create Todo Item" -->
    <button type="submit" class="btn btn-success">
      <i class="fas fa-plus"></i> Create Todo Item
    </button>
    <!-- Add buttons with Bootstrap styling -->
    <a th:href="@{/todoList}" class="btn btn-warning">
      <i class="fas fa-list"></i> Show Todo List
    </a>
  </form>
</div>

<!-- Add Bootstrap JS and Font Awesome for icons -->
<div th:replace="~{fragments/common.html :: script}"> </div>
</body>
</html>
