<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common.html :: head}"> </head>
<body>
<!-- Responsive navbar-->
<nav th:replace="~{fragments/common.html :: nav}"> </nav>
<!-- Page content-->
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Search for To-Do Items</h4>
        </div>
        <div class="card-body">
          <form th:action="@{/search}" method="get">
            <div class="input-group">
              <input type="text" class="form-control" id="query" name="query" required>
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i> Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/common.html :: script}"> </div>
</body>
</html>
